@media (max-width: 767px) {
  .input-login {
    position: absolute;
    width: 237px;
    height: 27px;
    border-radius: 20px;
    padding: 3px;
    margin-left: -180px;
    background-color: #fff;
  }

  #input-login-email {
    margin-top: 359px;
  }

  #input-login-password {
    margin-top: 419px;
  }

  .img-login {
    position: absolute;
    margin-left: -170px;
    z-index: 2;
    background-color: transparent;
  }

  #img-input-login-email {
    margin-top: 362px;
  }

  #img-input-login-password {
    margin-top: 421px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .input-login {
    position: absolute;
    width: 237px;
    height: 27px;
    border-radius: 20px;
    padding: 3px;
    margin-left: 425px;
    background-color: #fff;
  }

  #input-login-email {
    margin-top: -400px;
  }

  #input-login-password {
    margin-top: -345px;
  }

  .img-login {
    position: absolute;
    margin-left: 435px;
    z-index: 2;
    background-color: transparent;
  }

  #img-input-login-email {
    margin-top: -397px;
  }

  #img-input-login-password {
    margin-top: -343px;
  }
}

@media (min-width: 1024px) {
  .input-login {
    width: 237px;
    height: 27px;
    border-radius: 20px;
    padding: 3px;
    margin-left: 940px;
    background-color: #fff;
  }

  #input-login-email {
    position: absolute;
    margin-top: -386px;
    margin-left: 600px;
  }

  #input-login-password {
    position: absolute;
    margin-top: -325px;
    margin-left: 600px;
  }

  .img-login {
    position: absolute;
    margin-left: 608px;
    z-index: 2;
    background-color: transparent;
  }

  #img-input-login-email {
    margin-top: -382px;
  }

  #img-input-login-password {
    margin-top: -323px;
  }
}
