@media (max-width: 767px) {
  #container-modal {
    position: absolute;
    z-index: 2;
    width: 308px;
    height: 721px;
    margin-left: 37px;
    background: linear-gradient(
        219deg,
        rgba(25, 141, 225, 0.98) 26.64%,
        rgba(129, 188, 231, 0.21) 79.42%
      ),
      #fff;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
  }

  #content-modal {
    width: 100%;
    height: 150px;
    margin-top: 0;
    margin-left: 10;
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }
  .span-modal {
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 306px;
    gap: 10px;
    padding: 10px;
    justify-content: flex-start;
  }
  .img-modal {
    background-color: transparent;
    width: 45px;
    height: 51px;
  }
  p {
    background-color: transparent;
    color: #FFF;
    font-family: Inknut Antiqua;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  #closer-modal {
    position: absolute;
    margin-top: 320px;
    margin-left: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #container-modal {
        position: absolute;
        z-index: 2;
        width: 550px;
        height: 825px;
        margin-left: 370px;
        background: linear-gradient(
            219deg,
            rgba(25, 141, 225, 0.98) 26.64%,
            rgba(129, 188, 231, 0.21) 79.42%
          ),
          #fff;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
      }
    
      #content-modal {
        width: 100%;
        height: 50px;
        margin-top: 0;
        margin-left: 10;
        display: flex;
        flex-direction: column;
        background-color: transparent;
      }
      .span-modal {
        position: relative;
        background-color: transparent;
        display: flex;
        align-items: center;
        width: 356px;
        gap: 10px;
        padding: 10px;
        justify-content: flex-start;
      }
      .img-modal {
        background-color: transparent;
        width: 45px;
        height: 51px;
      }
      p {
        background-color: transparent;
        color: #FFF;
        font-family: Inknut Antiqua;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      #closer-modal {
        position: absolute;
        margin-top: 320px;
        margin-left: 0px;
      }
    }

@media (min-width: 1024px) {
    #container-modal {
        position: absolute;
        z-index: 2;
        width: 550px;
        height: 825px;
        margin-left: 370px;
        background: linear-gradient(
            219deg,
            rgba(25, 141, 225, 0.98) 26.64%,
            rgba(129, 188, 231, 0.21) 79.42%
          ),
          #fff;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
      }
    
      #content-modal {
        width: 100%;
        height: 50px;
        margin-top: 0;
        margin-left: 10;
        display: flex;
        flex-direction: column;
        background-color: transparent;
      }
      .span-modal {
        position: relative;
        background-color: transparent;
        display: flex;
        align-items: center;
        width: 356px;
        gap: 10px;
        padding: 10px;
        justify-content: flex-start;
      }
      .span-modal:hover{
        background-color: black;
      }
      .img-modal {
        background-color: transparent;
        width: 45px;
        height: 51px;
      }
      p {
        background-color: transparent;
        color: #FFF;
        font-family: Inknut Antiqua;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      #closer-modal {
        position: absolute;
        margin-top: 320px;
        margin-left: 0px;
      }
    }

